:root {
  --primary: #FBE8A6;
  --secondary: #B4DFE5;
  --darkprimary: #F4976C;
  --darkprimaryRBG: 244, 151, 108;
  --darksecondary: #303C6C;
  --light: #D2FDFF;
  --lightRGB: 210, 253, 255;
  --navheight: 65px;
}

.primary {
  color: var(--primary);
}

.darkprimary {
  color: var(--darkprimary);
}

.secondary {
  color: var(--secondary);
}

.darksecondary {
  color: var(--darksecondary);
}

.light {
  color: var(--light);
}

.white {
  color: white;
}

.black {
  color: black;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-darkprimary {
  background-color: var(--darkprimary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-darksecondary {
  background-color: var(--darksecondary);
}

.bg-light {
  background-color: var(--light);
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

body {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  color: black;
}

nav {
  background-color: white;
  height: var(--navheight);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  box-shadow: 0px 5px 5px -5px black;
  z-index: 1000;
}

figcaption {
  justify-self: flex-end;
}

footer {
  height: 65px!important;
  background: var(--primary);
}

.flex-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.p-block {
  padding: 10px 20px;
  text-align: justify;
  line-height: 130%;
}

.navbar-heading {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 20px;
  justify-content: space-between;
  font-size: 150%;
  width: 100%;
}

.navbar-icon {
  transition: transform .2s;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.can-hover .navbar-icon:hover {
  border: 1px solid var(--darkprimary);
  cursor: pointer;
  color: var(--darkprimary);
}

.navbar-link {
  color: black;
  text-decoration: none;
}

.can-hover .navbar-link:hover {
  color: var(--darkprimary);
  cursor: pointer;
}

.can-hover .navbar-brand:hover {
  color: black;
}

.navbar-menu {
  background-color: white;
  height: auto;
  box-shadow: -1px 5px 5px -5px black;
  display: none;
  width: 150px;
  margin-left: auto;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: black;
  margin: 0;
  padding: 0 20px 20px 20px;
  line-height: 2rem;
  align-items: flex-end;
  font-size: 105%;
}

.page-section {
  height: auto;
  width: 100%;
  margin: 0;
}

#welcome-section {
  background-image: url('../img/bg-masthead.jpg');
  background-size: cover;
  background-position: center;
  margin-top: var(--navheight);
  height: calc(100vh - var(--navheight));
  min-height: 400px;
}

.background-layer {
  width: 100%; 
  height: calc(100% - 20vh);
  background: rgba(70, 70, 70, 0.5);
  padding-top: 20vh;
}

.home-title {
  width: 100%;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}

#about-content {
  max-width: 700px;
}

.divider {
  width: 75px;
  height: 3px;
  margin: 5px auto;
  display: block;
}

.projects-divider {
  width: 200px;
  height: 1px;
  margin: 5px auto;
  display: block;
}

.thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 90%;
  background-color: white;
}

.home-subtitles {
  color: white;
  font: 1.25rem;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

#scroll-down-icon {
  color: white;
  width: 100%;
  font-size: 1.5rem;
  justify-self: center;
  margin-top: 75px;
  text-align: center;
}

.anchor {
  display: block;
  position: relative;
  top: -65px;
  visibility: hidden;
}

.section-header {
  text-align: center;
  text-transform: uppercase;
  margin: 50px auto 20px auto;
  width: 100%;
  font-size: 1.75rem;
}

.div-center {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center
}

.img-fluid {
  max-width: 100%;
}

#aboutme-img {
  max-width: 200px;
  border-radius: 100%;
  box-shadow: 3px 5px 10px 2px black;
  margin-top: 20px;
  margin-bottom: 50px;
}

#skills-box {
  margin-top: 30px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 150px;
  height: 250px;
  margin: 15px;
  perspective: 800px;
  transition: transform .2s;
}

.can-hover .card-container:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  border-radius: 5px;
  box-shadow: 3px 3px 6px -2px black;
  background-color: white;
}

.flip {
  transform: rotateY(180deg); box-shadow: -3px 3px 6px -2px black;
}

.card-front, .card-back {
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  border-radius: inherit;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  display: flex;
  padding: 5px;
  flex-direction: column;
}

.card-front {
  justify-content: space-between;
  align-items: center;
}

.skills-description {
  margin: 0;
  font-size: 120%;
}

.card-back {
  transform: rotateY(180deg);
  background-color: var(--darksecondary);
  color: var(--light);
}

.card-back>ul {
  list-style: none;
  padding-inline-start: 10px;
}

.skills-heading {
  text-align: center;
  margin: 10px auto;
  color: var(--primary);
}

#contact-box {
  margin: 30px auto 150px auto;
  text-align: center;
  font-size: 110%;
  max-width: 500px;
  padding: 0px 30px;
}

#contact-details {
  margin-top: 50px;
}

#contact-details>div:first-of-type {
  margin-bottom: 5px;
}

.contact-link {
  color: var(--darkprimary);
  text-decoration: none;
}

.can-hover .contact-link:hover {
  color: var(--darksecondary);
}

#footer-content {
  padding-top: 25px;
  margin: auto;
  font-style: oblique;
  font-size: 80%;
  color: var(--darksecondary);
}

.portfolio-box {
  color: white;
  margin: 10px auto;
  justify-content: center;
  margin-bottom: 30px;
}

.portfolio-box:last-of-type {
  margin-bottom: 50px;
}

.portfolio-description {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 90px auto; 
  grid-template-areas:
    "name name-content"
    "description description-content"
    "date date-content"
    "tech tech-content"
    "links links";
  margin-bottom: 10px;
}

.portfolio-description, .portfolio-img {
  max-width: 450px;
  padding: 10px;
}

.project-title {
  font-size: 85%;
  margin: 5px 0px;
  font-weight: bold;
}

.project-content {
  font-size: 80%;
  margin: 5px 0px;
  line-height: 105%;
  font-style: italic;
  color: var(--primary);
}

.project-name {
  grid-area: name;
}

.project-description {
  grid-area: description;
}

.project-date {
  grid-area: date;
}

.project-tech {
  grid-area: tech;
}

.name-content {
  grid-area: name-content;
}

.description-content {
  grid-area: description-content;
}

.date-content {
  grid-area: date-content;
}

.tech-content {
  grid-area: tech-content;
}

.view-project {
  grid-area: links;
  text-align: center;
  margin: 10px auto 0px auto;
  font-size: 90%;
}

.portfolio-img {
  display: flex;
  align-items: center;
}

.portfolio-img-holder {
  align-items: center;
  margin: 0px 30px;
}

.portfolio-link {
  color: var(--darkprimary);
  text-decoration: none;
}

.can-hover .portfolio-link:hover {
  color: white;
  cursor: pointer;
}

.project-img {
  border-radius: 5px;
  box-shadow: 3px 3px 6px -2px black;
}

@media (max-width: 320px) {
  .card-container {
    margin: 4px;
  }
}

@media (min-width: 576px) {
  .flex-container {
    max-width: 540px;
  }

}

@media (min-width: 768px) {
  .flex-container {
    max-width: 720px;
  }

  .navbar-icon {
    display: none;
  }

  .navbar-menu {
    background-color: transparent;
    width: auto;
    height: 65px;
    display: flex!important;
    position: relative;
    padding: 0 20px;
    top: -65px;
    box-shadow: none;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.75rem;
    align-items: flex-end;
    font-size: 105%;
  }

  .navbar-item {
    margin: auto 20px;
  }

  .portfolio-box {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .portfolio-description {
    max-width: 350px;
    margin-right: 30px;
    margin-bottom: 0px;
  }

  .portfolio-img {
    max-width: 300px;
    background-color: none;
    padding: 0px;
  }

}

@media (min-width: 992px) {
  .flex-container {
    max-width: 960px;
  }

  .home-title {
    font-size: 3rem;
  }

  .home-subtitles {
    font-size: 1.25rem;
  }

  #scroll-down-icon {
    font-size: 2rem;
    margin-top: 150px;
  }

  #welcome-section {
    min-height: 550px;
  }

}

@media (min-width: 1140px) {
  .flex-container {
    max-width: 1140px;
  }

  .portfolio-description {
    max-width: 450px;
    margin-right: 150px;
    grid-template-columns: 110px auto;
  }
  
  .portfolio-img {
    max-width: 400px;
  }

  .project-title {
    font-size: 100%;
    margin: 5px 0px;
    font-weight: bold;
  }

  .project-content {
    font-size: 100%;
    margin: 5px 0px;
    line-height: 105%;
    font-style: italic;
    color: var(--primary);
  }

  .view-project {
    grid-area: links;
    text-align: center;
    margin: 10px auto 0px auto;
    font-size: 110%;
  }

  .projects-divider {
    width: 400px;
  }

}